[Unit]
Description=Communication Service

[Service]
Restart=always
RestartSec=1sec
ExecStart=/usr/bin/communication_test

[Install]
WantedBy=multi-user.target