[Unit]
Description=Heartbeat Mechanism Station
Requires=HeartbeatMechanism_car.service 
After=HeartbeatMechanism_car.service


[Service]
Type=simple
ExecStart=/usr/bin/heartbeatMechanism_test_station
Restart=always
#RestartSec=1sec

[Install]
WantedBy=multi-user.target