[Unit]
Description=Heartbeat Mechanism Car
Before=HeartbeatMechanism_station.service
Requires=wifi_server.service 
After=wifi_server.service 

[Service]
Type=simple
ExecStart=/usr/bin/heartbeatMechanism_test_car
Restart=always
#RestartSec=1sec

[Install]
WantedBy=multi-user.target