[Unit]
Description=Heartbeat Mechanism Station

[Service]
ExecStart=/usr/bin/heartbeatMechanism_test_station
Restart=on-failure
RestartSec=1sec

[Install]
WantedBy=multi-user.target