[Unit]
Description=Lane Detection Service
After=HeartbeatMechanism_car.service
Before=light_sign_detection.service


[Service]
Type=simple
ExecStart=/usr/bin/lane_detection
Restart=always

[Install]
WantedBy=multi-user.target