[Unit]
Description=MCU Communication Service

[Service]
ExecStart=/usr/bin/MCU_Communication
Restart=on-failure
RestartSec=1sec

[Install]
WantedBy=multi-user.target