[Unit]
Description=MCU Communication Service
Before=HeartbeatMechanism_car.service wifi_server.service HeartbeatMechanism_station.service lidar_communication.service

[Service]
Type=simple
ExecStart=/usr/bin/MCU_Communication
Restart=always
#RestartSec=1sec

[Install]
WantedBy=multi-user.target