[Unit]
Description=Request Response Server

[Service]
Restart=always
RestartSec=1sec
ExecStart=/usr/bin/server_test

[Install]
WantedBy=multi-user.target