[Unit]
Description=Steering Process
#Before=
#After=

[Service]
Type=simple
ExecStart=/usr/bin/steering_process_main.py
Restart=always

[Install]
WantedBy=multi-user.target