[Unit]
Description=Wifi Server
Before=HeartbeatMechanism_car.service 
After=lidar_communication.service

[Service]
Type=simple
ExecStart=/home/gtu-hazine/Desktop/AllRepos_15.09.2019/autonomous-vehicle/Linux_Codes/local_build/Output/WifiCommunication/server_test
Restart=always
RestartSec=1
User=gtu-hazine

[Install]
WantedBy=multi-user.target
