[Unit]
Description=Wifi Server
Before=HeartbeatMechanism_car.service  HeartbeatMechanism_station.service
After=lidar_communication.service

[Service]
Type=simple
ExecStart=/usr/bin/server_test
Restart=always

[Install]
WantedBy=multi-user.target
